# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Python environment
.venv/*

# misc logs
*.log

# IDE created files
.idea/*
*.anjuta        # anjuta files
.anjuta*
.ropeproject    # rope symbol db
*~              # auto-saved files
