{% extends "layout.html" %}
{% import "objects/estimating-objects.html" as estimating %}

{% block title %}
	{{ bid }}
{% endblock %}

{% block html_attributes %}
  {%- raw -%}
    ng-app="BidCalculateApp"
  {%- endraw -%}
{% endblock %}

{% block body_attributes %}
  {%- raw -%}
    ng-controller="BidSectionController"
  {%- endraw -%}
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/estimating.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
  {{ layout.navbar_links('estimating_home', usr=usr) }}
{% endblock %}


{% block body %}

  {{ estimating.bid_sidebar('bid_calculate', bid=bid, usr=usr) }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h2 class="page-header">
			{{ bid.name }}&nbsp;
		</h2>

		<div class="row">
			<form method="post" id="bidSection" class="col-xs-7"
        role="form" ng-submit="createSection()">
        <div id="wrapper" class="col-xs-9">

          <h4>New Section:</h4>

          <div class="section-label">
            <div><!-- Wrapping div when collecting scope -->
              <label for="sectionName">Takeoff Section Name:</label>
              <div class="form-group">
                <input  ng-model="section.sectionName" name="sectionName" id="sectionName" type="text" class="form-control">
              </div>
            </div>
          </div><!-- /.label -->


          <!-- Begin Scope Area -->
          <div class="scope-sm">
            <div id="sm" class="section-item well">
              <label for="metalWeight">Sheet Metal Weight (w/o waist):</label>
              <div class="form-group">
                <div class="input-group">
                  <input ng-model="section.metalWeight" name="metalWeight" id="metalWeight" type="number" class="form-control">
                  <span class="input-group-addon">lbs</span>
                </div>
              </div>
	            <label for="metalCost">Sheet Metal Cost:</label>
	            <div class="form-group">
		            <div class="input-group">
			            <span class="input-group-addon">$</span>
			            <input ng-model="section.metalCost" name="metalCost" id="metalCost" type="number" class="form-control">
			            <span class="input-group-addon">.00</span>
		            </div>
	            </div>
            </div><!-- /.sm -->
          </div><!-- /.scope-sm -->

          <!-- TODO: continue to implement scope div's -->
          <div class="scope-M">
	          <div id="airDevices" class="section-item well">
		          <label for="airDeviceCount">Air Device Count:</label>
		          <div class="form-group">
			          <p class="small">Include grilles, registers, and diffusers</p>
			          <div class="input-group">
				          <input ng-model="section.airDeviceCount" name="airDeviceCount" id="airDeviceCount" type="number" class="form-control">
				          <span class="input-group-addon">pieces</span>
			          </div>
		          </div>
		          <label for="airDeviceCost">Air Device Cost:</label>
		          <div class="form-group">
			          <div class="input-group">
				          <span class="input-group-addon">$</span>
				          <input ng-model="section.airDeviceCost" name="airDeviceCost" id="airDeviceCost" type="number" class="form-control">
				          <span class="input-group-addon">.00</span>
			          </div>
		          </div>
	          </div><!-- /.airDevices -->

	          <div id="fsd" class="section-item well">
		          <label for="fsdCount">FSD Count:</label>
		          <div class="form-group">
			          <div class="input-group">
				          <input ng-model="section.fsdCount" name="fsdCount" id="fsdCount" type="number" class="form-control">
				          <span class="input-group-addon">pieces</span>
			          </div>
		          </div>
							<label for="airDeviceCost">Air Device Cost:</label>
		          <div class="form-group">
			          <div class="input-group">
				          <span class="input-group-addon">$</span>
				          <input ng-model="section.fsdCost" name="airDeviceCost" id="airDeviceCost" type="number" class="form-control">
				          <span class="input-group-addon">.00</span>
			          </div>
		          </div>
	          </div><!-- /.fsd -->

	          <div id="vol-damper" class="section-item well">
		          <label for="volDamperCount">Volume Damper Count:</label>
		          <div class="form-group">
			          <div class="input-group">
				          <input ng-model="section.volDamperCount" name="volDamperCount" id="volDamperCount" type="number" class="form-control">
				          <span class="input-group-addon">pieces</span>
			          </div>
		          </div>
	          </div><!-- /.vol-damper -->

	          <div id="curbedFans" class="section-item well">
		          <div class="form-group">
			          <label for="curbedFanCount">Curbed Fan Count:</label>
			          <div class="input-group">
				          <input ng-model="section.curbedFanCount" name="curbedFanCount" id="curbedFanCount" type="number" class="form-control">
				          <span class="input-group-addon">fans</span>
			          </div>
		          </div>
		          <div class="form-group">
			          <label for="curbedFanCost">Curbed Fan Cost:</label>
			          <div class="input-group">
				          <span class="input-group-addon">$</span>
				          <input ng-model="section.curbedFanCost" name="curbedFanCost" id="curbedFanCost" type="number" class="form-control">
				          <span class="input-group-addon">.00</span>
			          </div>
		          </div>
	          </div><!-- /.curbedFans -->

	          <div id="ceilingFans" class="section-item well">
		          <label for="ceilingFanCount">Ceiling Fan Count:</label>
		          <div class="form-group">
			          <div class="input-group">
				          <input ng-model="section.ceilingFanCount" name="ceilingFanCount" id="ceilingFanCount" type="number" class="form-control">
				          <span class="input-group-addon">fans</span>
			          </div>
		          </div>
		          <div class="form-group">
			          <label for="ceilingFanCost">Ceiling Fan Cost:</label>
			          <div class="input-group">
				          <span class="input-group-addon">$</span>
				          <input ng-model="section.ceilingFanCost" name="ceilingFanCost" id="ceilingFanCost" type="number" class="form-control">
				          <span class="input-group-addon">.00</span>
			          </div>
		          </div>
	          </div><!-- /.ceilingFans -->
          </div><!-- /.scope-M -->

          <div class="scope-E">
	          <div id="ahu" class="section-item well">
		          <label for="ahuCount">AHU Count:</label>
		          <div class="form-group">
			          <div class="input-group">
				          <input ng-model="section.ahuCount" name="ahuCount" id="ahuCount" type="number" class="form-control">
				          <span class="input-group-addon">units</span>
			          </div>
		          </div>
		          <label for="ahuCost">AHU Cost:</label>
		          <div class="form-group">
			          <div class="input-group">
				          <span class="input-group-addon">$</span>
				          <input ng-model="section.ahuCost" name="ahuCost" id="ahuCost" type="number" class="form-control">
				          <span class="input-group-addon">.00</span>
			          </div>
		          </div>
	          </div><!-- /.ahu -->
	          <div id="vav" class="section-item well">
							<label for="vavCount">VAV/Term Unit Count:</label>
		          <div class="form-group">
			          <div class="input-group">
				          <input ng-model="section.vavCount" name="vavCount" id="vavCount" type="number" class="form-control">
				          <span class="input-group-addon">units</span>
			          </div>
		          </div>
		          <label for="vavCount">VAV/Term Unit Cost:</label>
		          <div class="form-group">
			          <div class="input-group">
				          <span class="input-group-addon">$</span>
				          <input ng-model="section.vavCost" name="vavCost" id="vavCost" type="number" class="form-control">
				          <span class="input-group-addon">.00</span>
			          </div>
		          </div>
	          </div><!-- /.vav -->
          </div><!-- /.scope-E -->
          <!-- End Scope Area -->


          <button class="btn btn-lg btn-primary" type="submit">
            Save Section&nbsp;
            <span class="glyphicon glyphicon-floppy-open"></span>
          </button>
        </div><!-- /#wrapper -->
			</form>

			<div class="col-xs-5">
				<h4>Takeoff Sections:</h4>
        {% raw %}
          <div class="well panel-group" id="accordian" role="tablist" aria-multiselectable="true">

            <div class="panel panel-success" ng-repeat="(name, val) in sections">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a role="button" id="section-header-{{ name }}" data-toggle="collapse" data-parent="#accordian" href="#section-{{ name }}" aria-controls="section-{{ name }}">
                    {{ name }}
                  </a>&nbsp;
                  <button class="btn btn-xs btn-warning" ng-click="editSection(name)">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                    Edit
                  </button>
                </h4>
              </div>
              <div class="panel-collapse collapse in" id="section-{{ name }}" role="tabpanel">
                <div class="panel-body">
                  {{ val }}
                </div>
              </div>
            </div>

          </div><!-- /.well.panel-group -->
        {% endraw %}
			</div>

		</div><!-- /.row -->
	</div><!-- /.main -->

{% endblock %}


{% block post_script %}

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script type="text/javascript" language="javascript">
    (function () {

      'use strict';

      angular.module('BidCalculateApp', [])

      .controller('BidSectionController', ['$scope', '$log', '$http', function($scope, $log, $http) {
          $scope.section = {};   // Input form area
          $scope.sections = {};  // Holds bid sections for bid sheet

          $scope.createSection = function() {
            var _return = {};
            for (var key in $scope.section) {
              if ($scope.section.hasOwnProperty(key)) {
                var _key = $("#" + key);
                var _parent = _key.parent().parent().parent();  // wrapping scope
                var _parent_class = _parent[0].className;
                var _item = _key.parent().parent();  // wrapping sectionItem div
                var _item_id = _item[0].id;
                // if _parent_class is 'scope-*', _return[_item] = {};
                if (_parent[0].id === 'wrapper') {  // DOM parent chain extended too far
                  _return[_item_id] = $scope.section[key];
                } else if (_return[_parent_class] == undefined) {
                  _return[_parent_class] = {};
                  _return[_parent_class][_item_id] = $scope.section[key];
                } else {
                  _return[_parent_class][_item_id] = $scope.section[key];
                }
              }
            }
            $log.log(_return);
            $http.post('{{ url_for('create_section', bid_num=bid.number) }}',
              _return ).
              success(function(results) {
                if ('sectionName' in $scope.section) {
                  $scope.sections[$scope.section['sectionName']] = angular.copy($scope.section);
                  $log.log("HTTP request returned: " + results);
                  $scope.section = {}
                }
              }).
              error(function(error) {
                $log.log(error);
              });
          };
          $scope.editSection = function(name) {
            // Update input form area with passed section label
            $scope.section = angular.copy($scope.sections[name]);
          }
      }

      ]);

    }());
  </script>

{% endblock %}