{% extends "layout.html" %}
{% import "objects/estimating-objects.html" as estimating %}

{% block title %}
	{{ bid }}
{% endblock %}

{% block html_attributes %}
  {%- raw -%}
    ng-app="BidCalculateApp"
  {%- endraw -%}
{% endblock %}

{% block body_attributes %}
  {%- raw -%}
    ng-controller="BidSectionController"
  {%- endraw -%}
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/estimating.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
  {{ layout.navbar_links('estimating_home', usr=usr) }}
{% endblock %}


{% block body %}

  {{ estimating.bid_sidebar('bid_calculate', bid=bid, usr=usr) }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h2 class="page-header">
			{{ bid.name }}&nbsp;
		</h2>

		<div class="row">
			<form method="post" id="bidSection" class="col-xs-7"
        role="form" ng-submit="createSection()">
        <div id="wrapper" class="col-xs-9">

          <h4>New Section:</h4>

          {% raw %}
            <label for="selectedItem">Select new item to add:</label>
            <select id="selectedItem" ng-model="selectedItem" ng-change="addItem()">
              <optgroup label="{{ scope }}" ng-repeat="(scope, _items) in items">
                <option value='{{ vals }}'  ng-repeat="(item, vals) in _items">{{ item }}</option>
              </optgroup>
            </select>
          {% endraw %}

          <div class="section-label">
            <div><!-- Wrapping div when collecting scope -->
              <label for="sectionName">Takeoff Section Name:</label>
              <div class="form-group">
                <input  ng-model="sectionName" name="sectionName" id="sectionName" type="text" class="form-control" required>
              </div>
            </div>
          </div><!-- /.label -->

          <!-- Begin Scope Area -->
          {% raw %}
          <div class="scope-{{ scope }}" ng-repeat="(scope, _items) in sectionItems track by scope">
            <div class="{{ id }}" ng-repeat="(id, itm) in _items track by id">
              <div class="form-group col-xs-6">
                <label for="{{ id }}_value" >{{ itm.label }} Value</label>

                <div class="input-group">
                  <input id="{{ id }}_value" name="{{ id }}_value" ng-model="itm.amount" class="form-control" type="number" >
                  <span class="input-group-addon">{{itm.units}}</span>
                </div>

              </div><!-- /#{{ id }}.value.form_group -->
              <div class="form-group col-xs-6">
                <label for="{{ id }}_cost">{{ itm.label }} Cost</label>

                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input id="{{ id }}_cost" name="{{ id }}_cost" ng-model="itm.cost" class="form-control" type="number">
                  <span class="input-group-addon">.00</span>
                </div>
              </div><!-- /#{{ id }}.value.form_group -->
            </div>
          </div>
          {% endraw %}
          <!-- End Scope Area -->

          <button class="btn btn-lg btn-primary" type="submit">
            Save Section&nbsp;
            <span class="glyphicon glyphicon-floppy-open"></span>
          </button>
        </div><!-- /#wrapper -->
			</form>

			<div class="col-xs-5">
				<h4>Takeoff Sections:</h4>
        {% raw %}
          <div class="well panel-group" id="accordian" role="tablist" aria-multiselectable="true">

            <div class="panel panel-success" ng-repeat="(name, val) in sections">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a role="button" id="section-header-{{ name }}" data-toggle="collapse" data-parent="#accordian" href="#section-{{ name }}" aria-controls="section-{{ name }}">
                    {{ name }}
                  </a>&nbsp;
                  <button class="btn btn-sm btn-warning" ng-click="editSection(name)">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                    Edit
                  </button>
                </h4>
              </div>
              <div class="panel-collapse collapse in" id="section-{{ name }}" role="tabpanel">
                <div class="panel-body">
                  {{ val }}
                </div>
              </div>
            </div>

          </div><!-- /.well.panel-group -->
        {% endraw %}
			</div>

		</div><!-- /.row -->
	</div><!-- /.main -->

{% endblock %}


{% block post_script %}

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script type="text/javascript" language="javascript">
    (function () {

      'use strict';

      angular.module('BidCalculateApp', [])
        .controller('BidSectionController', ['$scope', '$log', '$http', function($scope, $log, $http) {
          $scope.sectionName = '';
          $scope.sectionItems = {};

          $scope.section = {};   // Input form area
          $scope.sections = {};  // Holds bid sections for bid sheet

          $http.get("{{ url_for('get_available_items', bid_num=bid.number) }}").
            success(function(results) {
              $scope.items = results;
              $log.log(results);
            }).
            error(function (error) {
              $scope.items = {};
              $log.log(error);
            });

          $scope.createSection = function() {
            var snd = {'name': $scope.sectionName, 'items': $scope.sectionItems};
            $log.log($scope.section);
            $http.post('{{ url_for('create_section', bid_num=bid.number) }}', snd ).
              success(function(results) {
                if ($scope.sectionName) {
                  $scope.sections[$scope.sectionName] = angular.copy($scope.sectionItems);
                  $log.log("HTTP request returned: " + results);
                  $scope.sectionName = '';
                  $scope.sectionItems = {};
                }
              }).
              error(function(error) {
                $log.log(error);
              });
          };

          $scope.editSection = function(name) {
            // Update input form area with passed section label
            $scope.section = {};
            $scope.sectionName = name;
            $scope.sectionItems = angular.copy($scope.sections[name]);
          };

          $scope.addItem = function() {
            var selectedItem = angular.copy($scope.selectedItem);
            selectedItem = JSON.parse(selectedItem);
            $log.log(selectedItem);
            var id, label, metric, units, value, scope;  // values from $scope.selectedItem
            id = selectedItem.id;
            label = selectedItem.label;
            metric = selectedItem.metric;
            metric = metric.charAt(0).toUpperCase() + metric.substr(1);  // format metric string
            units = selectedItem.units;
            if (selectedItem.scope.length > 2) {  // format scope string. Condense into abbreviations
              scope = selectedItem.scope[0];
            } else {
              scope = selectedItem.scope;
            }


            if ($scope.sectionItems[scope] == undefined) {
              $scope.sectionItems[scope] = {};
            }
            $scope.sectionItems[scope][id] = selectedItem;
            $log.log($scope.sectionItems);
            // TODO: implement value editing
          };
        }


      ]);

    }());
  </script>

{% endblock %}