{% extends "layout.html" %}
{% import "objects/estimating_objects.html" as estimating %}

{% block title %}
	{{ bid }}
{% endblock %}


{% block styles %}

	<link href='{{ url_for("static", filename="css/estimating.css") }}' rel="stylesheet">

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css">

{% endblock %}


{% block html_attributes %}
  {%- raw -%}
    ng-app="SubBidApp"
  {%- endraw -%}
{% endblock %}

{% block body_attributes %}
  {%- raw -%}
    ng-controller="SubBidController" ng-cloak
  {%- endraw -%}
{% endblock %}


{% block nav_links %}
 {{ layout.navbar_links('estimating_home', usr=usr) }}
{% endblock %}


{% block body %}

  {{ estimating.bid_sidebar('bid_overview', bid=bid, usr=usr) }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header" style="margin-top: 50px;">
      {{ bid }}&nbsp;
			{% if bid.completed %}
				{% if bid.completed == "No bid" %}
					<span class="btn btn-danger disabled">No bid</span>
				{% else %}
					<span class="btn btn-success disabled" >Bid sent
						{% if hasattr(bid.completed, 'date') %}
							{{ bid.completed.date() }}
						{% endif %}
					</span>
				{% endif %}
			{% elif usr and usr.role == 'admin' %}
				<a href="{{ url_for('complete_bid', bid_num=bid.number) }}"
					class="btn btn-success btn-sm">Submit Bid</a>
				<a href="{{ url_for('cancel_bid', bid_num=bid.number) }}"
					class="btn btn-danger btn-sm">No Bid</a>
			{% endif %}
    </h1>
    {%- with messages = get_flashed_messages(with_categories=True) -%}
      {%- if messages -%}
        {%- for category, message in message -%}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {%- endfor -%}
      {%- endif -%}
    {%- endwith -%}

    <h3 class="bid-status">
      <span class="label label-danger">
        <a href="#">
          <small class="glyphicon glyphicon-unchecked"></small>
        </a>
        No duct takeoff
      </span>&nbsp;
      {% if bid.quotes %}
        {% if bid.quote_status[0] == 0 %}
          <span class="label label-danger">
        {% elif bid.quote_status[0] == 1 %}
          <span class="label label-success">
        {% else %}
          <span class="label label-warning">
        {% endif %}
	      {{ bid.quote_status[1] }}
        </span>&nbsp;
      {% endif %}
		  <span class="label label-default">
				Bidding to {{ bid.bid_count }} GC's
      </span>
    </h3>
		<div class="row">

      <div class="col-xs-4">
	      {% for scope in bid.quotes %}
	        <div class="panel panel-default">
	          <div class="panel-heading">
	            Scope: <strong>{{ scope }}</strong>
	          </div>
		        <ul class="list-group">
	            {% for i in bid.quotes[scope] %}
								<li class="list-group-item">
									{{ i }}&nbsp;
									{% if i.doc %}
										<a href="{{ url_for('bid_quote', bid_num=bid.number, scope=scope, q_hash=i.hash) }}" target="_blank">
											<span class="glyphicon glyphicon-paperclip"></span>
										</a>
									{% endif %}
								</li>
		          {% else %}
		            <li class="list-group-item">No quotes uploaded</li>
		          {% endfor %}
	          </ul>
	        </div>
	      {% endfor %}

        {{ estimating.quote_modal(bid) }}
      </div>

      <!-- Sub Bid Widget -->
			<div id="subBidWidget" class="col-xs-4 pull-right">
				<div class="panel panel-primary">
					<div class="panel-heading">
            {% if usr and usr.role == 'admin' %}
              {# Enclose restricted element #}
              <!--div class="btn-group pull-right sub-bid-btn" role="group">
                <a href="javascript:" onclick="unlock_sub_bids_for_editing()" class="btn btn-sm btn-warning">
                  <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                  Edit    <!-- TODO:add hover effects to show text --
                </a>
                <!-- TODO:add upload/update button when edit was clicked --
                  {#
                   {{ estimating.sub_bid_modal(bid) }}
                   #}
              </div-->

              <span class="pull-right" ng-if="editable">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
              </span>
              <span class="pull-right" ng-if="!editable">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Save
              </span>
              <md-switch ng-model="editable" aria-label="Edit" class="pull-right sub-bid-btn md-warn"
                         ng-true-value="false" ng-false-value="true" ng-change="updateBids()"></md-switch>

            {% endif %}
						Sub bids:
					</div>

					<div class="list-group">
						{% raw %}
							<div class="list-group-item" ng-repeat="(_hash, bid) in sub_bids">
                <md-button href="" class="md-primary md-raised pull-right" id="award_button">
                  Award &nbsp;
                  <span class="glyphicon glyphicon-ok"></span>
                </md-button><!-- /#award_button -->
                <h4 class="gc-label">
                  To <strong>{{ bid.gc }}</strong>
                </h4>

                <div class="clearfix"></div>

                <md-input-container class="md-block" flex-gt-sm>
                  <label for="{{ _hash }}-gc_contact" class="control-label">
                    GC Contact:
                  </label>
                  <input type="text" ng-model="bid.gc_contact" id="{{ _hash }}-gc_contact" ng-disabled="editable"
                         value="{{ bid.gc_contact }}" placeholder="GC Contact">
                </md-input-container>

                <p>
                  Date Received:
                </p>
                <md-datepicker ng-model="bid.date_received" id="{{ _hash }}-date_received" ng-disabled="editable"></md-datepicker>

                <p>
                  Date Due:
                </p>
                <md-datepicker ng-model="bid.bid_date" id="{{ _hash }}-bid_date" ng-disabled="editable"></md-datepicker>

                <fieldset class="standard">
                  <legend>Bid Scope:</legend>
                  <div layout="row" layout-wrap flex>
                    <div flex="50" ng-repeat="(scope, val) in bid.scope">
                      <md-checkbox ng-model="val" ng-disabled="editable" aria-checked="val" ng-change="updateScope(_hash, scope, val)">
                        {{ scope }}
                      </md-checkbox>
                    </div>
                  </div>
                </fieldset>

							</div>
						{% endraw %}
					</div>
				</div>
			</div>

		</div><!-- /.row -->
	</div><!-- /.main -->

{% endblock %}


{%  block post_script %}

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>


	<script type="text/javascript" language="javascript">
		(function () {
				'use strict';

				angular.module('SubBidApp', ['ngMaterial', 'scDateTime'])
					.controller('SubBidController', ['$scope', '$log', '$http', function($scope, $log, $http) {
            $scope.editable = {};   // used for editing sub_bids
						$scope.new_sub  = {};   // used for storing a new bid
            $scope.sub_bids = {};

						$http.get("{{ url_for('serialized_sub_bids', bid_num=bid.number) }}")
							.success(function(results) {
								var sub_bids = results['result'];
                jQuery.each(sub_bids, function(key, value) {
                  value.bid_date = new Date(value.bid_date);            // convert bid_date and date_received values
                  value.date_received = new Date(value.date_received);
                });
                $scope.sub_bids = sub_bids;
								$log.log(sub_bids);
							})
							.error(function(error) {
								$scope.sub_bids = {};
								$log.log(error);
							});

						$scope.createBid = function() {};
            $scope.awardBid = function() {};
            $scope.updateBids = function() {
              if ($scope.editable) {
                var subs = $scope.sub_bids;
                jQuery.each(subs, function(key, value) {
                  value.bid_date = dateToYMD(value.bid_date);
                  value.date_received = dateToYMD(value.date_received);
                });
                $log.log(subs);
                $http.post("{{ url_for('update_sub_bid', bid_num=bid.number) }}", subs)
                  .success(function(results) {
                    $log.log(results);
                  })
                  .error(function(error) {
                    $log.log(error);
                  })
              }
              // send HTTP POST value when $scope.editable is false
            };

            $scope.updateScope = function(hash, scope, val) {
              $scope.sub_bids[hash].scope[scope] = val;
            };
					}])
			}());

    function dateToYMD(date) {
      var d = date.getDate();
      var m = date.getMonth() + 1;
      var y = date.getFullYear();
      return '' + y + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
    }
	</script>

{% endblock %}