{% extends "layout.html" %}
{% import "objects/estimating_objects.html" as estimating %}

{% block title %}
	Campano Estimating
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/estimating.css') }}" rel="stylesheet">

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css">

{% endblock %}


{% block html_attributes %}
  {%- raw -%}
    ng-app="NewBidApp"
  {%- endraw -%}
{% endblock %}

{% block body_attributes %}
  {%- raw -%}
    ng-cloak
  {%- endraw -%}
{% endblock %}


{% block nav_links %}
 {{ layout.navbar_links('estimating_home', usr=usr) }}
{% endblock %}


{% block body %}

  {{ estimating.sidebar('') }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="NewBidController">
		<h1 class="page-header" style="margin-top: 50px;">
       Creating new bid
    </h1>
    {%- with messages = get_flashed_messages(with_categories=True) -%}
      {%- if messages -%}
        {%- for category, message in message -%}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {%- endfor -%}
      {%- endif -%}
    {%- endwith -%}

		<div>
			<form layout="row" layout-padding>

				<div id="bidDesc" layout="column" flex="33">
					<md-input-container class="md-block">
						<label for="newBidName">Project Name:</label>
						<input ng-model="bid.name" type="text" id="newBidName">
					</md-input-container>
					<md-input-container class="md-block">
						<label for="jobAddress">
							Job Address:
						</label>
						<textarea ng-model="bid.address" columns="1" id="jobAddress" rows="5"></textarea>
					</md-input-container>
					<md-input-container class="md-block">
						<label for="jobDesc">
							Job Desc/Comments:
						</label>
						<textarea ng-model="bid.desc" id="bidDesc" rows="5"></textarea>
					</md-input-container>
				</div>

        <div id="bidGC" layout="column" flex="33">
					<md-input-container id="bidGC">
						<label for="gcName">
							GC
						</label>
						<input ng-model="bid.gc" id="otherGC">
					</md-input-container>
					<md-input-container>
						<label for="gcContact">
							Contact Name
						</label>
						<input ng-model="gcContact" type="text" id="gcContact">
					</md-input-container><!-- /.form-control -->
          <md-datepicker ng-model="bid.bid_date" id="bid_date" md-placeholder="Enter Bid Date"></md-datepicker>
				</div>

        <div layout="column" flex="33">
          <fieldset class="standard" style="border-width: 1px; border-style: solid;">
            <legend>Bid Scope:</legend>
            <div layout="row" layout-wrap flex>
              <div flex="50" ng-repeat="(scope, val) in bid.scope">
                <md-checkbox ng-model="val" aria-checked="val" ng-change="updateScope(scope, val)">
                  {% raw %}
                    {{ scope }}
                  {% endraw %}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
				</div>

			</form>
      <md-button class="md-fab md-raised md-primary md-hue-2 pull-right" style="position: relative;" ng-click="submitBid()">
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </md-button>
    </div>
	</div><!-- /.row -->

{% endblock %}


{% block post_script %}

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>

  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

  <script type="text/javascript">
    (function () {
      'use strict';

      angular.module('NewBidApp', ['ngMaterial', 'scDateTime'])
        .controller('NewBidController', ['$scope', '$log', '$http', function($scope, $log, $http) {
          $scope.bid = {};
          $http.get("{{ url_for('serialized_valid_scope') }}")
            .success(function(results) {
              $scope.bid.scope = results['result'];
              $log.log(results['result']);
            })
            .error(function(error) {
              $scope.bid.scope = {};
            });

          $scope.GCs = ['McCloskey Mechanical',
							          'Gary F. Gardner',
                        'Other GC'];

          $scope.submitBid = function() {
            if ($scope.bid.bid_date) {
              $scope.bid.bid_date = dateToYMD($scope.bid.bid_date);
            }
            $http.post("{{ url_for('create_bid') }}", $scope.bid)
              .success(function(results) {
                window.location = results;
                $log.log(results);
              })
              .error(function(error) {
                $log.log(error);
              });
          };

          $scope.updateScope = function(scope, val) {
            $scope.bid.scope[scope] = val;
          };
        }])
	      .controller('SearchCtrl', SearchCtrl)
        .config(function($mdThemingProvider) {
          // Configure a dark theme with primary foreground yellow
          $mdThemingProvider.theme('docs-dark', 'default')
            .primaryPalette('yellow')
            .dark();
        });
      }());
    function dateToYMD(date) {
      var d = date.getDate();
      var m = date.getMonth() + 1;
      var y = date.getFullYear();
      return '' + y + '-' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
    }
  </script>

{% endblock %}