{% extends "layout.html" %}
{% import "objects/estimating-objects.html" as estimating %}

{% block title %}
	Past Bids - Campano HVAC
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/estimating.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
  {{ layout.navbar_links('estimating_home') }}
{% endblock %}


{% block body %}

  {{ estimating.sidebar('past_bids') }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
			Past Bids&nbsp;
		</h1>

		<div class="row">

			<table class="table table-striped">
				<tr id="tableHeadings">
					<th>Bid #</th>
          <th>Project Name:</th>
          <th>Bid Date</th>
					<th>Date Sent:</th>
          <th>Scope:</th>
          <th>Quotes:</th>
          <th>Rebid:</th>
					<!--th>Ordered By:</th-->
				</tr>
				{% for bid in estimates %}
					{% if not hasattr(bid.completed, 'date') and bid.completed == "No bid" %}
						<tr class="danger">
					{% else %}
						<tr>
					{% endif %}
            <td>{{ bid.number }}</td>
						<td>
              <a href="{{ url_for('bid_overview', bid_num=bid.number) }}">
                {{ bid }}
              </a>
            </td>
            <td>
	            {% if hasattr(bid.bid_date, 'date') %}
	              {{ bid.bid_date.date() }}
	            {% else %}
	              {{ bid.bid_date }}
	            {% endif %}
            </td>
						<td>
	            {% if hasattr(bid.completed, 'date') %}
	              {{ bid.completed.date() }}
	            {% else %}
	              {{ bid.completed }}
	            {% endif %}
            </td>
            <td>
              {% for s in bid.scope %}
                <span>{{ s }}</span>
                {%- if not loop.last -%}
                  ,
                {%- endif -%}
              {% endfor %}
            </td>
            <td>{{ bid.quote_count }}</td>
						<td>No</td>
					</tr>
				{% endfor %}
			</table>

		</div><!-- /.row -->
	</div><!-- /.main -->

{% endblock %}