.scope-of-work label {
  margin-bottom: 0px;
}

.scope-of-work .radio {
  margin-top: 0px;
}

#matListNav {
  margin-top: -10px;
  margin-bottom: 10px;
}

#listStatus {
  margin-top: 0px;
  margin-bottom: 30px;
}

.widgetWell {
  padding: 14px;
}

.widgetWell div {
  margin-bottom: 0px;
}

#awardedPO {
  color: #FFEF0D !important;
}