.todo-well {
  max-height: 100%;
  overflow-y: auto;
}


/****************/
/* upload_modal */
#uploadForm .form-group {
  margin-bottom: 20px;
}

#fileUpload {
  margin-bottom: 20px;
}
/****************/


/* item_modal */
#itemModal .itemLineDiv {
  margin-bottom: 10px;
}

div .col-xs-12 {
  width: 107% !important;
}

label .fileUpload input[type='file'] {

}

.fileSelect {
  position: relative;
  overflow: hidden;
}

.fileSelect input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 10px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}