.todo-well {
  max-height: 100%;
  overflow-y: auto;
}


/****************/
/* upload_modal */
#uploadForm .form-group {
  margin-bottom: 20px;
}

#fileUpload {
  margin-bottom: 20px;
}
/****************/


/* item_modal */
#itemModal .itemLineDiv {
  margin-bottom: 10px;
}