{# templates/objects/layout-objects.html #}


{% macro sidebar_links(active_link) %}

  {# links are separated by function name (used by `url_for`), Link Text Content, and a glyphicon tag (optional) #}
  {% set links = [('home', 'Overview', 'eye-open'),
                  ('analytics', 'Analytics', 'stats'),
                  ('deliveries', 'Deliveries', 'plane'),
                  ('timesheets', 'Timesheets', 'time'),
                  ('rental_log', 'Rental Logs'),
                  ('inventory', 'Inventory')] %}

	<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      {% for _link in links %}
        {% if _link[0] == active_link %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}

          <a href="{{ url_for(_link[0]) }}">

            {% if _link[2] %}
              <span class="glyphicon glyphicon-{{ _link[2] }}"></span>&nbsp;
            {% endif %}

            {{ _link[1] }}
          </a>
        </li>
      {% endfor %}
		</ul>
	</div><!-- /.sidebar -->

{% endmacro %}


{% macro job_sidebar(active_link, job_num) %}

  {# links are separated by function name (used by `url_for`), Link Text Content, and a glyphicon tag (optional) #}
  {% set links = [('job_overview', 'Overview', 'eye-open'),
                  ('job_info', 'Info', 'info-sign'),
                  ('job_analytics', 'Analytics', 'stats'),
                  ('job_materials', 'Materials', 'wrench'),
                  ('job_deliveries', 'Devlieries', 'plane'),
                  ('job_pos', 'Purchase Orders', 'usd'),
                  ('job_rentals', 'Rental Log')] %}

	<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      {% for _link in links %}
        {% if _link[0] == active_link %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="{{ url_for(_link[0], job_num=job_num) }}">

            {% if _link[2] %}
              <span class="glyphicon glyphicon-{{ _link[2] }}"></span>&nbsp;
            {% endif %}

            {{ _link[1] }}
          </a>
        </li>
      {% endfor %}
		</ul>
	</div><!-- /.sidebar -->

{% endmacro %}


{% macro navbar_links(active_link) %}

  {# links are separated by function name (used by `url_for`), Link Text Content, and a glyphicon tag (optional) #}
  {% set links = [('home', 'Dashboard'),
                  ('estimating_home', 'Estimating', 'piggy-bank'),
                  ('all_jobs', 'Jobs'),
                  ('user_settings', 'Settings'),
                  ('user_help', 'Help'),
                  ('logout', '', 'off')] %}

  {% for _link in links %}
    {% if _link[0] == active_link %}
      <li class="active">
    {% else %}
      <li>
    {% endif %}
      <a href="{{ url_for(_link[0]) }}">

        {% if _link[2] %}
          <span class="glyphicon glyphicon-{{ _link[2] }}"></span>&nbsp;
        {% endif %}

        {{ _link[1] }}
      </a>
    </li>
  {% endfor %}

{% endmacro %}