{% extends "layout.html" %}

{% block title %}
	Campano Dashboard
{% endblock %}

{% block nav_links %}
  <li class="active">
		<a href="{{ url_for('home') }}">Dashboard</a>
	</li>
  <li>
		<a href="#">Estimating</a>
	</li>
  <li>
		<a href="{{ url_for('all_jobs') }}">Jobs</a>
	</li>
  <li>
		<a href="#">Settings</a>
	</li>
  <li>
		<a href="#">Help</a>
	</li>
{% endblock %}

{% block sidebar_content %}
	<li class="active">
  	<a href="#">
			<span class="glyphicon glyphicon-eye-open"></span>&nbsp;
			Overview
		</a>
	</li>
	<li>
		<a href="#">
			<span class="glyphicon glyphicon-stats"></span>&nbsp;
      Analytics
    </a>
	</li>
  <li>
  	<a href="#">
      <span class="glyphicon glyphicon-plane"></span>&nbsp;
      Deliveries
    </a>
	</li>
  <li>
  	<a href="#">
    	<span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;
      Estimating
		</a>
	</li>
  <li><a href="#">Rental Logs</a></li>
  <li><a href="#">Inventory</a></li>
{% endblock %}