{% extends "layout.html" %}

{% block title %}
	Campano Dashboard
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
	<li class="active">
		<a href="{{ url_for('home') }}">Dashboard</a>
	</li>
	<li>
		<a href="#">Estimating</a>
	</li>
	<li>
		<a href="{{ url_for('all_jobs') }}">Jobs</a>
	</li>
	<li>
		<a href="#">Settings</a>
	</li>
	<li>
		<a href="#">Help</a>
	</li>
{% endblock %}


{% block body %}

  {{ objects.sidebar_links('home') }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
      Dashboard
    </h1>
    {%- with messages = get_flashed_messages(with_categories=True) -%}
      {%- if messages -%}
        {%- for category, message in message -%}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {%- endfor -%}
      {%- endif -%}
    {%- endwith -%}

		<div class="row">

			{{ objects.delivery_widget() }}

			{{ objects.materials_widget() }}

			{{ objects.task_widget(todos, completed) }}

		</div>
	</div><!-- /.row -->

{% endblock %}


{% block post_script %}

	<script>
		$(document).ready(function() {
      $("#openJobSelect").load("/dynamic/j/has_open_lists");
		});
	</script>

{% endblock %}