{% extends "layout.html" %}
{% import "objects/estimating-objects.html" as estimating %}

{% block title %}
	Campano Estimating
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/estimating.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
 {{ objects.navbar_links('estimating_home') }}
{% endblock %}


{% block body %}

  {{ estimating.sidebar('estimating_home') }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
      Estimating
			<a href="{{ url_for('estimating_create_bid') }}" class="btn btn-small btn-success">Create new job</a>
    </h1>
    {%- with messages = get_flashed_messages(with_categories=True) -%}
      {%- if messages -%}
        {%- for category, message in message -%}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {%- endfor -%}
      {%- endif -%}
    {%- endwith -%}

		<div class="row">


		</div>
	</div><!-- /.row -->

{% endblock %}


{% block post_script %}



{% endblock %}