{% extends "layout.html" %}
{% import "objects/estimating-objects.html" as estimating %}

{% block title %}
	{{ bid }}
{% endblock %}


{% block styles %}

	<link href='{{ url_for("static", filename="css/estimating.css") }}' rel="stylesheet">

{% endblock %}


{% block nav_links %}
 {{ objects.navbar_links(False) }}
{% endblock %}


{% block body %}

  {{ estimating.bid_sidebar('bid_overview', bid=bid) }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
      {{ bid }}
    </h1>
    {%- with messages = get_flashed_messages(with_categories=True) -%}
      {%- if messages -%}
        {%- for category, message in message -%}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {%- endfor -%}
      {%- endif -%}
    {%- endwith -%}

    <h3 class="bid-status">
      <span class="label label-danger">
        <a href="#">
          <small class="glyphicon glyphicon-unchecked"></small>
        </a>
        No duct takeoff
      </span>&nbsp;
      {% if bid.quotes %}
        {% if bid.quote_status[0] == 0 %}
          <span class="label label-danger">
        {% elif bid.quote_status[0] == 1 %}
          <span class="label label-success">
        {% else %}
          <span class="label label-warning">
        {% endif %}
            {{ bid.quote_status[1] }}
          </span>&nbsp;
      {% endif %}
	    <span class="label label-default">
				Bidding to {{ bid.bid_count }} GC's
	    </span>
    </h3>
		<div class="row">

      <div class="col-xs-4">
	      {% for scope in bid.quotes %}
	        <div class="panel panel-default">
	          <div class="panel-heading">
	            Scope: <strong>{{ scope }}</strong>
	          </div>
		        <ul class="list-group">
	            {% for i in bid.quotes[scope].values() %}
								<li class="list-group-item">
									{{ i }}&nbsp;
									{% if i.doc %}
										<a href="{{ url_for('bid_quote', bid_num=bid.number, scope=scope, q_hash=i.hash) }}" target="_blank">
											<span class="glyphicon glyphicon-paperclip"></span>
										</a>
									{% endif %}
								</li>
		          {% else %}
		            <li class="list-group-item">No quotes uploaded</li>
		          {% endfor %}
	          </ul>
	        </div>
	      {% endfor %}

        {{ estimating.quote_modal(bid) }}
      </div>

			<div class="col-xs-4 pull-right">
				{% for b in bid.bids.values() %}
					<div class="panel panel-primary">
						<div class="panel-heading">
							Bid to
							<strong>{{ b.gc }}</strong>
              <span class="badge badge-default pull-right">
                <span class="glyphicon glyphicon-ok"></span>
              </span>
						</div>
						<div class="panel-body">
							<p>GC Contact: {{ b.gc_contact }}</p>
							<p>Date Recvd: {{ b.date_received.date() }}</p>
							<span class="lead">
								<span class="label label-info">
									Due Date: {{ b.bid_date }}
								</span>
							</span>
						</div>
					</div>
				{% endfor %}
				{{ estimating.sub_bid_modal(bid) }}
			</div>

		</div>
	</div><!-- /.row -->

{% endblock %}


{% block post_script %}



{% endblock %}