{% extends "layout.html" %}

{% block title %}
	Inventory
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/inventory.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
	<li>
		<a href="{{ url_for('home') }}">Dashboard</a>
	</li>
	<li>
		<a href="#">Estimating</a>
	</li>
	<li>
		<a href="{{ url_for('all_jobs') }}">Jobs</a>
	</li>
	<li>
		<a href="#">Settings</a>
	</li>
	<li>
		<a href="#">Help</a>
	</li>
{% endblock %}


{% block body %}

	{{ objects.sidebar_links('inventory') }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
			Shop Inventory&nbsp;
			<!-- TODO:implement link to unlock and edit job -->
			<a href="" class="btn btn-default btn-sm">
				Unlock for Editing
			</a>
		</h1>

    <div class="widgetWell">
      {{ objects.inventory_item_modal() }}
      {{ objects.inventory_order_modal() }}
    </div>

		<div class="row">

			<table class="table table-striped">
				<tr id="tableHeadings">
					<th>Item ID:</th>
          <th>Item Name:</th>
          <th>Stock:</th>
          <th>Demand past 2 weeks:</th>
					<th>Del:</th>
					<!--th>Ordered By:</th-->
				</tr>
				{% for item in inventory %}
					<tr>
						<td>{{ item.item_id }}</td>
            <td>{{ item.item_label }}</td>
            <td>{{ item.stock }}</td>
            <td>&nbsp;</td>
						<td>
							<a href="{{ url_for('del_inventory_item', item_hash=item.hash) }}">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
						<!--td>Ordered by...</td-->
					</tr>
				{% endfor %}
			</table>

		</div><!-- /.row -->
	</div><!-- /.main -->

{% endblock %}