{% extends "layout.html" %}

{% block title %}
	{{ job.name }}
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/job.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
	<li>
		<a href="{{ url_for('home') }}">Dashboard</a>
	</li>
	<li>
		<a href="#">Estimating</a>
	</li>
	<li class="active">
		<a href="{{ url_for('all_jobs') }}">Jobs</a>
	</li>
	<li>
		<a href="#">Settings</a>
	</li>
	<li>
		<a href="#">Help</a>
	</li>
{% endblock %}


{% block body %}

	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li class="active">
				<a href="#">
					<span class="glyphicon glyphicon-eye-open"></span>&nbsp;
					Overview
				</a>
			</li>
			<li>
				<a href="#">
					<span class="glyphicon glyphicon-stats"></span>&nbsp;
					Analytics
				</a>
			</li>
			<li>
				<a href="#">
					<span class="glyphicon glyphicon-plane"></span>&nbsp;
					Deliveries
				</a>
			</li>
			<li>
				<a href="#">
					<span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;
					Estimating
				</a>
			</li>
			<li><a href="#">Rental Logs</a></li>
			<li><a href="#">Inventory</a></li>
		</ul>
	</div><!-- /.sidebar -->
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
			{{ job.name }}&nbsp;
			<button class="btn btn-sm btn-info" type="button" data-toggle="collapse" data-target="#jobInfo" aria-expanded="false" aria-controls="jobInfo">
				<span class="glyphicon glyphicon-info-sign"></span>
			</button>
			<!-- TODO:implement link to unlock and edit job -->
			<a href="" class="btn btn-default btn-sm">
				Unlock for Editing
			</a>
		</h1>

		<div class="row">

			<div class="collapse" id="jobInfo">
				<div class="col-xs-3">
					<label for="jobAddress">Address:</label>
					<textarea name="jobAddress" id="jobAddress" class="form-control" rows="2" onclick="this.select();" readonly>
						{{- job.address -}}
					</textarea>
					<br>
					<label for="jobDesc">Description:</label>
					<textarea name="jobDesc" id="jobDesc" class="form-control" rows="3" onclick="this.select();" readonly>
						{{- job.desc -}}
					</textarea>
				</div><!-- /#jobDesc-->
				<div class="col-xs-2">
					<label for="foremanInfo">
						Foreman's Information:
					</label>
					<div class="well" id="foremanInfo">

						<label for="foremanName">
							Name:
						</label>
						<input type="tel" class="form-control" id="foremanName" onclick="this.select();" value="{# job.foreman.name #}" readonly>

						<label for="foremanPhone">
							Phone #
						</label>
						<input type="text" class="form-control" id="foremanPhone" onclick="this.select();" value="856.873.3210" readonly>

						<label for="foremanEmail">
							Email:
						</label>
						<input type="email" class="form-control" id="foremanEmail" onclick="this.select();" value="{# job.foreman.email #}" readonly>

					</div>
				</div><!-- /#foremanInfo -->
				<div class="clearfix visible-lg-block"></div>
				<hr>
			</div>

			{{ objects.delivery_widget(job=job) }}

			{{ objects.materials_widget(job=job) }}

			<!-- TODO:implement task completion for job-linked tasks -->
			{{ objects.task_widget(job=job) }}

		</div>
	</div><!-- /.main -->

{% endblock %}