{% extends "layout.html" %}

{% block title %}
	{{ job.name }}
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/job.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
	<li>
		<a href="{{ url_for('home') }}">Dashboard</a>
	</li>
	<li>
		<a href="#">Estimating</a>
	</li>
	<li class="active">
		<a href="{{ url_for('all_jobs') }}">Jobs</a>
	</li>
	<li>
		<a href="#">Settings</a>
	</li>
	<li>
		<a href="#">Help</a>
	</li>
{% endblock %}


{% block body %}

	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li>
				<a href="{{ url_for('job_overview', job_num=job.number) }}">
					<span class="glyphicon glyphicon-eye-open"></span>&nbsp;
					Overview
				</a>
			</li>
			<li>
				<a href="{{ url_for('job_analytics', job_num=job.number) }}">
					<span class="glyphicon glyphicon-stats"></span>&nbsp;
					Analytics
				</a>
			</li>
			<li class="active">
				<a href="{{ url_for('job_materials', job_num=job.number) }}">
					<span class="glyphicon glyphicon-wrench"></span>&nbsp;
					Materials
				</a>
			</li>
			<li>
				<a href="{{ url_for('job_deliveries', job_num=job.number) }}">
					<span class="glyphicon glyphicon-plane"></span>&nbsp;
					Deliveries
				</a>
			</li>
			<li>
				<a href="{{ url_for('job_pos', job_num=job.number) }}">
					<span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;
					Purchase Orders
				</a>
			</li>
			<li>
				<a href="{{ url_for('job_rentals', job_num=job.number) }}">
					Rental Logs
				</a>
			</li>
		</ul>
	</div><!-- /.sidebar -->
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
			{{ job.name }}&nbsp;
			<!-- TODO:implement link to unlock and edit job -->
			<a href="" class="btn btn-default btn-sm">
				Unlock for Editing
			</a>
		</h1>

		<h4 class="sub-header">All Material Lists:</h4>

		<div class="row">

			<!-- TODO:save file under job folder directory structure -->
			{{ objects.file_upload(job=job) }}

			<table class="table table-striped">
				<tr>
					<th><span class="glyphicon glyphicon-send"></span></th>
					<th>List ID</th>
					<th>Requested By:</th>
					<th>Date Uploaded:</th>
					<th>Date Due:</th>
					<th>No. of Quotes:</th>
				</tr>
				{% for i in job.materials.itervalues() %}
				<!-- TODO:style rows based on age -->
					<tr>
						<td id="{{ i.hash }}-materials-fulfilled">
							<!-- TODO:redirect to schedule delivery -->
							<a href="#">
								<span class="glyphicon glyphicon-unchecked"></span>
							</a>
						</td>
						<td>
							<a href="{{ url_for('material_list', m_hash=i.hash) }}">
								{{ i.hash }}
							</a>&nbsp;
							<a target="_blank" href="{{ url_for('job_material_doc', job_num=job.number, doc_hash=i.hash) }}">
								<span class="glyphicon glyphicon-paperclip"></span>
							</a>
						</td>
						<td>{{ i.foreman }}</td>
						<td>{{ i.date_sent.date() }}</td>
						<td>{{ i.date_due }}</td>
						<!-- TODO:show appropriate styling for completed lists -->
						<!-- TODO:add button for deleting material list -->
						<td>{{ i.quotes|length }}</td>
					</tr>
				{% endfor %}
			</table>

		</div><!-- /.row -->

	</div><!-- /.main -->

{% endblock %}