{% extends "layout.html" %}

{% block title %}
	{{ job.name }}
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/job.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
	<li>
		<a href="{{ url_for('home') }}">Dashboard</a>
	</li>
	<li>
		<a href="#">Estimating</a>
	</li>
	<li class="active">
		<a href="{{ url_for('all_jobs') }}">Jobs</a>
	</li>
	<li>
		<a href="#">Settings</a>
	</li>
	<li>
		<a href="#">Help</a>
	</li>
{% endblock %}


{% block body %}

	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li>
				<a href="{{ url_for('job_overview', job_num=job.number) }}">
					<span class="glyphicon glyphicon-eye-open"></span>&nbsp;
					Overview
				</a>
			</li>
			<li>
				<a href="{{ url_for('job_analytics', job_num=job.number) }}">
					<span class="glyphicon glyphicon-stats"></span>&nbsp;
					Analytics
				</a>
			</li>
			<li class="active">
				<a href="{{ url_for('job_materials', job_num=job.number) }}">
					<span class="glyphicon glyphicon-wrench"></span>&nbsp;
					Materials
				</a>
			</li>
			<li>
				<a href="{{ url_for('job_deliveries', job_num=job.number) }}">
					<span class="glyphicon glyphicon-plane"></span>&nbsp;
					Deliveries
				</a>
			</li>
			<li>
				<a href="{{ url_for('job_pos', job_num=job.number) }}">
					<span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;
					Purchase Orders
				</a>
			</li>
			<li>
				<a href="{{ url_for('job_rentals', job_num=job.number) }}">
					Rental Logs
				</a>
			</li>
		</ul>
	</div><!-- /.sidebar -->
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
			{{ job.name }}&nbsp;
			{% if job.alt_name %}
				<small>{{ job.alt_name }}</small>
			{% endif %}
			<!-- TODO:implement link to unlock and edit job -->
			<a href="" class="btn btn-default btn-sm">
				Unlock for Editing
			</a>
		</h1>

		<ul class="nav nav-tabs" id="matListNav">
			<li role="presentation" class="active">
				<a href="" class="disabled">
					Material Lists
				</a>
			</li>
		</ul>

		<div class="row">

			<div class="col-xs-5 widgetWell">
				<label>
					New Material List:
				</label>
				{{ objects.upload_modal(job=job) }}
				{{ objects.item_modal(job=job) }}
			</div>

			<table class="table table-striped">
				<tr id="tableHeadings">
					<th><span class="glyphicon glyphicon-send"></span></th>
					<th>List ID</th>
					<th>Requested By:</th>
					<th>Date Uploaded:</th>
					<th>Date Due:</th>
					<th>No. of Quotes:</th>
					<th>Del. List:</th>
				</tr>
				{% for i in job.materials.itervalues() %}
				<!-- TODO:style rows based on age -->
					{% if not i.fulfilled %}
						<tr>
					{% elif (i.age > 6) and (not i.fulfilled) %}
						<tr class="danger">
					{% elif (i.age > 2) and (not i.fulfilled) %}
						<tr class="warning">
					{% else %}
						<tr class="success">
					{% endif %}
						<td id="{{ i.hash }}-materials-fulfilled">
							{% if not i.fulfilled %}
								<!-- TODO:redirect to schedule delivery -->
								<a href="#">
									<span class="glyphicon glyphicon-unchecked"></span>
								</a>
							{% else %}
								<span class="glyphicon glyphicon-ok"></span>
							{% endif %}
						</td>
						<td>
							<a href="{{ url_for('material_list', m_hash=i.hash) }}">
								{% if i.label|length %}
									{{ i.label }}
								{% else %}
									{{ i.hash }}
								{% endif %}
							</a>
							{% if i.po %}
								<div class="label label-info">
									{{ i.po }}
								</div>
							{% endif %}
							{% if i.doc %}
								<a target="_blank" href="{{ url_for('job_material_doc', job_num=job.number, doc_hash=i.hash) }}">
									&nbsp;<span class="glyphicon glyphicon-paperclip"></span>
								</a>
							{% endif %}
							{% if i.po and i.po.quote.doc %}
								<a target="_blank" href="{{ url_for('job_quote_doc', job_num=job.number, doc_hash=i.po.quote.hash) }}">
									&nbsp;<span class="glyphicon glyphicon-duplicate"></span>
								</a>
							{% endif %}
						</td>
						<td>{{ i.foreman }}</td>
						<td>
							{% if hasattr(i.date_sent, 'date') %}
								{{ i.date_sent.date() }}
							{% else %}
								{{ i.date_sent }}
							{% endif %}
						</td>
						<td>
							{% if i.date_due %}
								{{ i.date_due.date() }}
							{% else %}
								No date set
							{% endif %}
						</td>
						<!-- TODO:show appropriate styling for completed lists -->
						<!-- TODO:add button for deleting material list -->
						<td>{{ i.quotes|length }}</td>
						<td>
							<a href="{{ url_for('delete_material_doc', doc_hash=i.hash, job_num=i.job.number) }}">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</table>

		</div><!-- /.row -->

	</div><!-- /.main -->

{% endblock %}