{% import "objects/job_objects.html" as objects %}
{% import "objects/layout_objects.html" as layout %}
{% import "objects/modal_objects.html" as modal %}

<!DOCTYPE html>
<html lang="en" {% block html_attributes %}{% endblock %}>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>{% block title %}Campano HVAC{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/objects.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/sc-date-time.css') }}" rel="stylesheet">
	{% block styles %}{% endblock %}

</head>

<body {% block body_attributes %}{% endblock %}>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Campano HVAC</a>
		</div>
		<div id="navbar" class="">
			<ul class="nav navbar-nav navbar-right">

				{%- block nav_links -%}
				{%- endblock -%}

			</ul>
			<form class="navbar-form navbar-right" ng-controller="SearchCtrl as ctrl">
				<md-autocomplete
					ng-selected-item="ctrl.selectedItem"
				  ng-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
				  ng-search-text="ctrl.searchText"
				  ng-selected-item-change="ctrl.selectedItemChange(item)"
				  ng-items="item in ctrl.querySearch(ctrl.searchText)"
				  ng-item-text="item.display"
				  md-min-length="0"
				  placeholder="Search...">
				</md-autocomplete>
			</form>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">

		{% block body %}
		{% endblock %}

	</div>
	<!-- /.row -->
</div>


<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/dynamic.js') }}"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src='{{ url_for('static', filename='js/sc-date-time.js') }}'></script>

<!-- Polyfill which adds HTML5 elements support for old browsers -->
<script src="https://cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
<script>
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
</script>
{% block post_script %}{% endblock %}
</body>
</html>
