{% extends "layout.html" %}

{% block title %}
	{{ job.name }}
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/job.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
	{{ objects.navbar_links('all_jobs') }}
{% endblock %}


{% block body %}

  {{ objects.job_sidebar('job_materials', job_num=job.number) }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
			{{ job.name }}&nbsp;
			<!-- TODO:implement link to unlock and edit job -->
			<a href="javascript:" class="btn btn-default btn-sm" onclick="unlock_table_for_editing();">
				Unlock for Editing
			</a>
		</h1>
		<ul class="nav nav-tabs" id="matListNav">
			<li role="presentation">
				<a href="{{ url_for('job_materials', job_num=job.number) }}">
					Material Lists
				</a>
			</li>
			<li role="presentation" class="active">
				<a href="#" class="disabled">
					{{ mlist }}
				</a>
			</li>
		</ul>

		<div class="row">

			<!-- TODO:save file under job folder directory structure -->
			<div class="col-xs-8 widgetWell">
        {% if not mlist.po %}
				  {{ objects.upload_modal(job=job, obj=mlist, meth='quote') }}
				{% endif %}
				{% if mlist.items %}
					{{ objects.list_modal(job=job, obj=mlist) }}
				{% endif %}
				{% if mlist.doc %}
					<a href="{{ url_for('job_material_doc', doc_hash=mlist.hash) }}" target="_blank" class="btn btn-info">
	          View Material Document
					</a>
				{% endif %}
        {% if mlist.delivery and not mlist.delivery.delivered %}
          <a href="{{ url_for('accept_delivery', job_num=job.number, d_hash=mlist.delivery.hash) }}" class="btn btn-success">Accept Delivery</a>
        {% endif %}
			</div>

      {% if not mlist.sent_out %}
        <div class="well col-xs-4 widgetWell">
          <!-- TODO:convert form/checkbox to http link -->
          <form class="form-inline" action="{{ url_for('update_material_list', m_hash=mlist.hash) }}" method="post">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="sentOut" value="True" {% if mlist.sent_out %}checked{% endif %}>
                Sent to appropriate vendors
              </label>
            </div>
            <button type="submit" class="btn btn-default">Update</button>
          </form>
        </div>
      {% elif mlist.po and not mlist.delivered %}
        {{ objects.delivery_widget(job=job, obj=mlist) }}
      {% else %}
        <div class="clearfix visible-lg-block"></div>
      {% endif %}

			<h3 id="listStatus">
				{%- if not mlist.sent_out %}
					<span class="label label-danger">List not sent for pricing</span>&nbsp;
				{% elif not mlist.quotes|length %}
					<span class="label label-warning">Expecting Quotes</span>&nbsp;
				{% endif -%}
				{%- if not mlist.po %}
					<span class="label label-danger">PO Not Issued</span>
				{% else %}
					{%- if mlist.fulfilled %}
						{% if not mlist.delivered %}
							<span class="label label-warning label-lg">PO Issued. Not Delivered</span>
						{% else %}
							<span class="label label-success label-lg">PO Issued. Delivered.</span>
						{% endif %}&nbsp;
						<span class="label label-info label-lg">{{ mlist.po }}</span>
					{% endif -%}
				{% endif -%}
			</h3>

      <form method="post" id="quoteUpdate" enctype="multipart/form-data"></form>
			<label for="quoteTable">Associated Quotes:</label>
			<table class="table table-striped" id="quoteTable">
				<tr id="tableHeader">
					<th><span class="glyphicon glyphicon-credit-card"></span></th>
					<th>Quote ID</th>
					<th>Vendor</th>
					<th>Date Sent:</th>
					<th>Price</th>
					<th id="delColumn">Del:</th>
					<th id="doneEdits" class="hidden">
						<span class="glyphicon glyphicon-ok"></span>
					</th>
				</tr>
				{% for i in mlist.quotes.itervalues() %}
				<!-- TODO:style rows based on age -->
					<tr class="{% if i.awarded %}success{% endif %}">
						<td id="{{ i.hash }}">
							{% if not i.awarded %}
								{% if not mlist.fulfilled %}
									<a href="{{ url_for('job_quote_award_po', doc_hash=i.hash, job_num=job.number) }}">
										<span class="glyphicon glyphicon-unchecked"></span>
									</a>
								{% else %}
									<a href="" class="disabled">
										<span class="glyphicon glyphicon-unchecked"></span>
									</a>
								{% endif %}
							{% else %}
							<!-- TODO:redirect to schedule delivery -->
								<a href="" class="disabled" id="awardedPO">
										<span class="glyphicon glyphicon-star"></span>
								</a>
							{% endif %}
						</td>
						<td>
							{{ i.hash }}
							{% if i.doc %}
								<a target="_blank" href="{{ url_for('job_quote_doc', job_num=job.number, doc_hash=i.hash) }}">
									<span class="glyphicon glyphicon-paperclip"></span>
								</a>
              {% else %}
                <a href="javascript:" class="fileSelect">
                  <span class="glyphicon glyphicon-open"></span>
                  <input type="file" id="fileUpload-{{ i.hash }}" name="fileUpload" onchange="update_quote_doc({{ mlist.hash }}, {{ i.hash }});" multiple>
                </a>
							{% endif %}
						</td>
						<td>{{ i.vend }}</td>
						<td>{{ i.date_uploaded.date() }}</td>
						<td>
							<input type="hidden" class="form-control price-input" name="quotePrice" id="priceUpdate-{{ i.hash }}" placeholder="{{ i.price }}" onchange="update_quote_price({{ mlist.hash }}, {{ i.hash }})">
							<span class="hide-value">{{ i.price }}</span>
						</td>
						<!-- TODO:show appropriate styling for completed lists -->
						<!-- TODO:add button for deleting material list -->
						<td>
							<a href="{{ url_for('delete_job_quote', doc_hash=i.hash, job_num=i.mat_list.job.number) }}">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</table>

		</div>
	</div><!-- /.main -->

{% endblock %}