{# templates/objects.html #}

{% macro todo(todo_obj) %}

			<div class="panel panel-warning">
				<div class="panel-heading" role="tab" id="{{ todo_obj.name }}-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#{{ todo_obj.name }}accordian" href="#{{ todo_obj.name }}-collapse" aria-expanded="false" aria-controls="{{ todo_obj.name }}-collapse">
							{{ todo_obj.name }}
						</a>
					</h4>
				</div>
				<div id="{{ todo_obj.name }}-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ todo_obj.name }}-heading">
					<div class="panel-body">
						This is the description of the new todo
					</div>
				</div>
			</div>

			<!--div class="panel panel-warning">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordian" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Todo #2
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						This is the description of the second one.
					</div>
				</div>
			</div-->

{% endmacro %}

{% macro collapsable_todos(todos) %}
	<div class="col-sm-4 well well-sm">
		<div class="panel-group" id="accordian" role="tablist" aria-multiselectable="true" style="margin-bottom:0px;">
			{% for i in todos %}
				{{ todo(i) }}
			{% endfor %}
		</div>
	</div><!-- /.col -->
{% endmacro %}