{% extends "layout.html" %}

{% block title %}
	{{ job.name }}
{% endblock %}


{% block styles %}

	<link href="{{ url_for('static', filename='css/job.css') }}" rel="stylesheet">

{% endblock %}


{% block nav_links %}
	{{ layout.navbar_links('all_jobs') }}
{% endblock %}


{% block body %}

  {{ layout.job_sidebar('job_pos', job_num=job.number) }}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">
			{{ job.name }}&nbsp;
			<!-- TODO:implement link to unlock and edit jobs -->
			<a href="javascript:" class="btn btn-default btn-sm" onclick="unlock_table_for_editing();">
				Unlock for Editing
			</a>
		</h1>

		<h4 class="sub-header">
			Purchase Orders:
		</h4>

		<div class="row">

			<form method="post" id="quoteUpdate" enctype="multipart/form-data"></form>
			<table class="table table-striped">
				<tr id="tableHeadings">
					<th>PO:</th>
					<th>Issued to:</th>
					<th>Date Issued:</th>
					<th>Price:</th>
					<th>Original Material List:</th>
					<th>Vendor Quote:</th>
					<!--th>Ordered By:</th-->
				</tr>
				{% for i in job.POs.itervalues() %}
					<tr>
						<td>{{ i }}</td>
            <td>{{ i.quote.vend }}</td>
            <td>
	            {% if hasattr(i.date_issued, 'date') %}
	              {% set _date_issued = i.date_issued.date() %}
	            {% else %}
	              {% set _date_issued = i.date_issued %}
	            {% endif %}
              <input type="hidden" class="form-control date-input" name="updateValue" id="dateIssuedUpdate-{{ i.quote.hash }}" value="{{ _date_issued }}" onselect="update_po_attr('{{ i.mat_list.hash }}', '{{ i.quote.hash }}', 'date_issued')">
              <span class="hide-value">
                {{ _date_issued }}
              </span>
            </td>
            <td>
              <input type="hidden" class="form-control price-input" name="updateValue" id="priceUpdate-{{ i.quote.hash }}" placeholder="{{ i.price }}" onchange="update_po_attr('{{ i.mat_list.hash }}', '{{ i.quote.hash }}', 'price')">
							<span class="hide-value">
								${{ i.price }}
							</span>
						</td>
						<td>
							<!-- TODO:create link to material list -->
							<a href="{{ url_for('material_list', m_hash=i.mat_list.hash) }}">
								{{ i.mat_list }}
							</a>
						</td>
						<td>
							{{ i.quote }}
						</td>
						<!--td>Ordered by...</td-->
					</tr>
				{% endfor %}
			</table>

		</div><!-- /.row -->
	</div><!-- /.main -->

{% endblock %}